html,
body {
  margin: 0;
  padding: 0;
}

.flex-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
}

header {
  background-color: blue;
  height: 80px;
  width: 100%;
  flex-shrink: 0;
}

.main {
  display: flex;
  background-color: pink;
  width: 100%;
  height: 100%;
  flex-flow: column wrap;
  justify-content: center;
  flex-flow: row wrap;
  align-items: center;
 
}

.item {
  height: 100px;
  width: 100px;
  margin: 5px;
  background-color: #FCF2EC;
  color: pink;
}
  


footer {
  background-color: red;
  height: 80px;
  width: 100%;
}

.setWidth {
  flex-basis: 100px;
  flex-grow: 1;
}

