html,
body {
  margin: 0;
  padding: 0;
}

.flex-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
}

header {
  background-color: blue;
  height: 80px;
  width: 100%;
}

main {
  background-color: turquoise;
  width: 100%;
  height: 100%;
}

footer {
  background-color: red;
  height: 80px;
  width: 100%;
}

